@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*Navigation*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(0,250,154)}

/*Landing Page*/
.home-wrap {
  background-color: red;
}

.home-inner {
  background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 100%), url(img/mixer.jpeg);
}

#for {
  color: rgb(0,250,154);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}

.caption-1 figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: red;
  border-color: red;
}

.btn-secondary:hover {
  background-color: red;
  border-color: red;
}


/*Features Section*/
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
  background-color: black;
}

h3.heading {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
  color: white;
  }

p.lead {
  font-size: 1rem;
}

.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: rgb(0,250,154);
  margin: 0 auto 2rem;
}

.feature {
  border: solid 1px;
  border-width: 100%;
  height: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.feature svg.svg-inline--fa {
  color: red;
}

.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 0.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.feature p {
  font-size: 1.1rem;
}

/*MOBILE FIX*/

#course {
  background-color: black;
}

/*END MOBILE FIX*/

/*Resources Section*/


.fixed {
  background-image: url(img/money.jpeg);
  z-index: -1;
}

.dark {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 7rem 2rem;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}

.fixed-background p {
  margin-top: 1.5rem;
}

/*Clients Section*/
/*.clients img {
  width: 100%;
  border-radius: 50%;
}*/

blockquote .svg-inline--fa {
  color: red;
  margin: 1rem;
}

.clients-hr {
  border-top: 0.05rem solid red;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.tabledetail {
  width: 100%;
}

/*Contact Section*/

footer {
  background-color: black;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}

footer a:hover {
  color: rgb(0,250,154);
}

hr.socket {
  width: 100%;
  border-top: 0.2rem solid white;
  margin-top: 3rem;
}

/*Media Queries*/

@media (max-width: 767px) {
.caption h1 {
  font-size: 2.3rem;
  letter-spacing: 0.15rem;
  padding-bottom: 0.5rem;
}
.caption h3 {
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.narrow h1 {
  font-size: 1.5rem;
}
.clients img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: red;
  background-color: red;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: red;
  background-color: red;
  color: white;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
